.container {
  background-color: #3F72AF;
  margin: auto;
  border-radius: 0.3125rem;
  padding: 1.25rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.error {
  background-color: #b92b27;
  padding: 0.3125rem;
  display: flex;
  font-size: 0.875rem;
  width: 25vw;
  height: 1.4375rem;
  border-radius: 0.3125rem;
}

@media (min-width: 320px) and (max-width: 768px) {  
  .container {
    width: 90vw;
  }

  .error {
    width: 70vw;
  }
}